<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Menú</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" bind-innerHTML="title"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['data-binding']">Data Binding</a></li>
        <li routerLinkActive="active"><a [routerLink]="['directives']">Directivas</a></li>
        <li routerLinkActive="active"><a [routerLink]="['pipes']">Filtros</a></li>
        <li routerLinkActive="active"><a [routerLink]="['forms']">Formularios</a></li>
        <li routerLinkActive="active"><a [routerLink]="['reactive-forms']">Formularios reactivos</a></li>
        <li routerLinkActive="active"><a [routerLink]="['routing', 0]">Routing</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
